body {
    font-family: Poppins, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Dancing Script, cursive;
}

section {
    padding-block: 40px;
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

.title {
    color: #fff;
}

.title p {
    font-size: 40px;
}

.title h6 {
    color: var(--bs-yellow);
}

.title .decoration {
    position: relative;
    width: fit-content;
    margin: auto;
}

.title .decoration::before,
.title .decoration::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translate(-10%, -50%);
}

.title .decoration::after {
    left: 100%;
    transform: translate(10%, -50%);
}


button.global {
    overflow: hidden;
    padding: 10px 25px;
}

button.global::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--bs-yellow);
    position: absolute;
    top: 0;
    left: -100%;
    transition-duration: 1s;
}

button.global:hover::before {
    left: 0;
}

button.global span {
    color: var(--bs-yellow);
    transition-duration: 1s;
    letter-spacing: 2px;
}

button.global:hover span {
    color: #fff;
}

span.line {
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 10px;
}
