::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #244450;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--bs-yellow);
}

header nav .navbar-toggler {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    margin: auto;
    position: relative;
    width: 50px;
    height: 40px;
}

header nav .navbar-toggler .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 7px;
}

.offcanvas.offcanvas-end {
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(to right, #536976, #292e49);
}

.offcanvas.offcanvas-end .offcanvas-header .btn-close {
    background-image: none;
    --bs-btn-close-opacity: 1;
    --bs-btn-close-hover-opacity: 1;
    font-size: 20px;
}

.offcanvas.offcanvas-end .offcanvas-header .btn-close i {
    transition-duration: .5s;
    color: #fff;
}

.offcanvas.offcanvas-end .offcanvas-header .btn-close i:hover {
    transform: rotateZ(180deg);
}

.offcanvas.offcanvas-end .offcanvas-body .icons {
    position: relative;
    margin-top: 20px;
}

.offcanvas.offcanvas-end .offcanvas-body .icons i {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition-duration: 2s;
}

.offcanvas.offcanvas-end .offcanvas-body .icons i:not(:first-child) {
    transition-delay: 1s;
    opacity: 0;
}

.offcanvas.offcanvas-end .offcanvas-body .icons i[class*="facebook"] {
    color: #1877F2;    
    z-index: 1;
}

.offcanvas.offcanvas-end .offcanvas-body .icons i[class*="instagram"] {
    color: #E4405F;
    transition-delay: .8s;  
}

.offcanvas.offcanvas-end .offcanvas-body .icons i[class*="whatsapp"] {
    color: #25D366;
    transition-delay: .6s;  
}

.offcanvas.offcanvas-end .offcanvas-body .icons i[class*="twitter"] {
    transition-delay: .4s;   
    color: #1DA1F2;
}

.offcanvas.offcanvas-end.show .offcanvas-body .icons i:not(:first-child) {
    opacity: 1;
}

.offcanvas.offcanvas-end.show .offcanvas-body .icons i[class*="instagram"] {
    transform: translateX(150%);
}

.offcanvas.offcanvas-end.show .offcanvas-body .icons i[class*="whatsapp"] {
    transform: translateX(300%);
}

.offcanvas.offcanvas-end.show .offcanvas-body .icons i[class*="twitter"] {
    transform: translateX(450%);
}


.offcanvas.offcanvas-end ul li a.active,
.offcanvas.offcanvas-end ul li a {
    color: #fff;
    transition-duration: .3s;
    transition-property: all;
    letter-spacing: 1.5px;
}

.offcanvas.offcanvas-end ul li a:hover {
    color: var(--bs-yellow);
    font-weight: bold;            /* Exellant note */
    transform: translateX(10px);
}

header nav .navbar-toggler:focus {
    box-shadow: none;
}

header nav .navbar-toggler .icon .burger {
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    transition-duration: 1s;
}

header nav .offcanvas.offcanvas-end.show~.navbar-toggler .icon .burger:nth-of-type(1) {
    transform: translateY(12px) rotate(50deg);
    transition-delay: .5s;
}

header nav .offcanvas.offcanvas-end.show~.navbar-toggler .icon .burger:nth-of-type(2) {
    opacity: 0;
}

header nav .offcanvas.offcanvas-end.show~.navbar-toggler .icon .burger:nth-of-type(3) {
    transform: translateY(-6px) rotate(-55deg);
    transition-delay: .5s;
}

#carouselExample .carousel-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#carouselExample .carousel-item .header-pg {
    background-image: url("../dine-out_images/home-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.0);
    position: absolute;
    top: 0;
    left: 0;
}

#carouselExample .carousel-item.active .header-pg {
    transform: scale(1.1);
    transition-duration: 1s;
}

#carouselExample .carousel-item:nth-of-type(2) {
    background-image: url("../dine-out_images/slider-bg1.jpg");
}

#carouselExample .carousel-item:nth-of-type(3) {
    background-image: url("../dine-out_images/chef-bg.png");
    background-color: #333;
}

#carouselExample .carousel-item::before,
#carouselExample .carousel-item .header-pg::before {   /* Is the extra div is correct? */
    content: ""; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
}

#carouselExample .carousel-item .content.part1 h1 {
    font-size: 90px;
    transform: scale(0);
    transition-duration: 1.5s;
}

#carouselExample .carousel-item.active .content.part1 h1,
#carouselExample .carousel-item.active .content.part1 p {
    transform: scale(1);
}

#carouselExample .carousel-item .content.part1 p {
    width: 50%;
    margin: auto;
    margin-block: 15px 20px;
    transform: scale(0);
    transition-duration: 1.5s;
    transition-delay: .2s;
}

#carouselExample .carousel-item .content.part1 .header-button {
    width: fit-content;
    margin: auto;
    transform: scale(0);
    transition-duration: 1s;
    transition-delay: .4s;
}

#carouselExample .carousel-item.active .content.part1 .header-button {
    transform: scale(1);
}

#carouselExample .carousel-item .content.part2 .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#carouselExample .carousel-item .content.part2 .box-left .box1 img {
    transform: translateY(-100%);
    opacity: 0;
    transition-duration: 1s;
    width: 50%;
}

#carouselExample .carousel-item.active .content.part2 .box-left .box1 img {
    transform: translateY(40%);
    opacity: 1;
}

#carouselExample .carousel-item .content.part2 .box-left p {
    margin-inline: auto;
}

#carouselExample .carousel-item .content.part2 .box-left .box1 p {
    font-size: 90px;
    font-weight: bolder;
    line-height: 1.2;
    color: #e4c5a6;
    transform: translateX(-100%);
    transition-duration: 1s;
    opacity: 0;
    overflow: hidden;
} 

#carouselExample .carousel-item.active .content.part2 .box-left .box1 p {
    transform: translateX(0);
    opacity: 1;
}

#carouselExample .carousel-item .content.part2 .box-left .box2 span.line {
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 10px;
}

#carouselExample .carousel-item .content.part2 .box-left .box2 {
    transform: scaleX(0);
    opacity: 0;
    transition-duration: 1s;
}

#carouselExample .carousel-item.active .content.part2 .box-left .box2 {
    transform: scaleX(1);
    opacity: 1;
}

#carouselExample .carousel-item .content.part2 .box-left .box2 p{
    font-weight: 400;
}


#carouselExample .carousel-item .content.part2 .box-left .box2 button {
    padding: 10px 25px;        
}

#carouselExample .carousel-item .content.part2 .rotation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

#carouselExample .carousel-item .content.part2 .rotation img {
    animation-duration: 8s;
    opacity: 0;
    top: -100%;
    transition-duration: 1s;
    position: relative;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 15s;
}

#carouselExample .carousel-item.active .content.part2 img {
    opacity: 1;
    top: 0;
}


#carouselExample .carousel-item .content.part3 .image-left {
    opacity: 0;
    transform: translateX(-100%);
    transition-duration: 1s;
}

#carouselExample .carousel-item.active .content.part3 .image-left {
    opacity: 1;
    transform: translateX(0);
}

#carouselExample .carousel-item .content.part3 .image-left img {
    width: 75%;
    transform: translateY(15%);
    animation-name: burger;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#carouselExample .carousel-item .content.part3 .text1 p {
    font-size: 50px;
    line-height: 1.2;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-100%);
    transition-duration: 1s;
}

#carouselExample .carousel-item.active .content.part3 .text1 p {
    transform: translateY(0);
    opacity: 1;
}

#carouselExample .carousel-item .content.part3 .text1 span {
    width: 40%;
    transform: translateX(-100%);
    transition-duration: 1s;
}

#carouselExample .carousel-item.active .content.part3 .text1 span {
    transform: translateX(0);
}

#carouselExample .carousel-item .content.part3 .text2 p {
    margin-block: 20px 40px;
    opacity: 0;
    transform: translateY(100%);
    transition-duration: 1s;
}

#carouselExample .carousel-item.active .content.part3 .text2 p {
    transform: translateY(0);
    opacity: 1;
}

#carouselExample .carousel-item .content.part3 .text2 .icons {
    display: flex;
    margin-bottom: 30px;
}

#carouselExample .carousel-item .content.part3 .text2 .icons .image {
    width: 25%;
    opacity: 0;
    transform: translateY(40%);
    transition-duration: 1s;
    transition-delay: .2s;
}

#carouselExample .carousel-item .content.part3 .text2 .icons .image:nth-of-type(2) {
    transition-delay: .4s;
}

#carouselExample .carousel-item .content.part3 .text2 .icons .image:nth-of-type(3) {
    transition-delay: .6s;
}

#carouselExample .carousel-item.active .content.part3 .text2 .icons .image {
    transform: translateY(0);
    opacity: 1;
}

#carouselExample .carousel-item .content.part3 .text2 .icons img {
    width: 50%;
}

#carouselExample .carousel-item .content.part3 .text3 {
    width: fit-content;
    transform: scale(0);
    transition-duration: .5s;
    transition-delay: .5s;
}

#carouselExample .carousel-item.active .content.part3 .text3 {
    transform: scale(1);
}

#carouselExample .buttons {
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: flex;
    column-gap: 40px;
}

#carouselExample .buttons button {
    background-image: linear-gradient(to right, #536976, #292e49);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carouselExample .buttons button i {
    transition-duration: .5s;
}

#carouselExample .buttons button:hover i {
    color: var(--bs-yellow);
    transform: scale(1.3);
}

#Products::-webkit-scrollbar {
    height: 2px;
}

#Products::-webkit-scrollbar-track {
    background-color: #09c;
}

#Products::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #333;
}

#Products .list .list-item {
    width: calc(100%/7);
    color: #fff;
    background-image: radial-gradient(#2c5364, #203a43, #0f2027);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    row-gap: 15px;
    border: 1px solid #fff;
    padding-block: 20px;
}

#Products .list .list-item:first-child {
    border-left-color: transparent;
}

#Products .list .list-item:last-child {
    border-right-color: transparent;
}

#Products .list .list-item img {
    width: 35%;
}

#About .text1 p {
    font-size: 30px;
    line-height: 1.2;
}

#About .text1 span {
    width: 40%;
}

#About .text2 ul {
    padding-left: 0;
}

#About .text2 ul li {
    width: 50%;
} 

#About .text2 ul li img {
    width: 20px;
    height: 20px;
}

#About .about-img {
    position: relative;
}

#About .about-img {
    position: relative;
    width: 100%;
}

#About .about-img img {
    width: 80%;
    display: block;
    margin: auto;
}

#About .about-img h5,
#About .about-img .box {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
}

#About .about-img .box {
    width: 100px;
    height: 100px;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    border: 5px solid var(--bs-yellow);
    
}

#Testimonials {
    height: 500px;
    position: relative;
}

#Testimonials .bg-video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
}

#Testimonials .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Testimonials .content .box {
    margin-inline: 10px;
    background-color: rgba(200, 100, 50, .7);
    background: linear-gradient(to right, rgba(44, 83, 99, .5), rgba(32, 58, 67, .5), rgba(15, 32, 39, .5));
    padding-block: 15px;
    border-radius: 10px;
}

#Testimonials .text p {
    width: 75%;
    margin-inline: auto;
    margin-bottom: 40px;
}

#Testimonials .content .item p {
    font-size: 25px;
    font-weight: bold;
}

#Testimonials .content .item img {
    width: 20%;
}

#Menu ul {
    border: 1px solid #fff;
    border-radius: 5px;
    overflow: hidden;
    --bs-nav-pills-link-active-bg: none;
}

#Menu ul li {
    background-image: radial-gradient(#2c5364, #203a43, #0f2027);
    position: relative;
}

#Menu ul li button {
    border-radius: 0;
    color: #fff;    
}

#Menu ul li:not(:last-child) {
    border-bottom: 1px solid #fff;
}

#Menu li:first-child button {
    border-top: none;
}

#Menu li:last-child button {
    border-bottom: none;
}

#Menu ul li button.active::before {
    content: "";
    width: 100%;
    height: 15%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

#Menu .list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    padding-block: 12px;
    text-align: center;
    position: relative;
}

#Menu ul li button img {
    width: 60%;
    transform: scale(.8);
    transition-duration: .5s;
}

#Menu ul li button.active img {
    transform: scale(1);
}

#Menu .mid-boxs {
    row-gap: 20px;
}

#Menu .box-sh {
    padding-top: 0;
    transition-duration: 1s;
}

#Menu .box-sh:hover {
    transform: translateY(-10px);
}

#Menu .s-card {
    transition-duration: 1s;
    transform: scale(0);
    overflow: hidden;
}

#Menu .tab-content .show .s-card {
    transform: scale(1);
}

#Menu .s-card:hover {
    box-shadow: 0 5px #f1b60166, 
                0 10px #f1b6014d, 
                0 15px #f1b60133, 
                0 20px #f1b6011a, 
                0 25px #f1b6010d, 
                -5px 5px 40px #f1b60166;
}


#Menu .tab-content .s-card .text .card-item p,
#Menu .tab-content .s-card .text .card-item .rate {
    position: relative;
    opacity: 0;
    transform: translateX(-20px);
    transition-duration: 2s;
}

#Menu .tab-content .s-card .text .card-item p:nth-of-type(2),
#Menu .tab-content .s-card .text .card-item .rate {
    transition-delay: 1s;
}

#Menu .tab-content .show .s-card .text .card-item p,
 #Menu .tab-content .show .s-card .text .card-item .rate {
    opacity: 1;
    transform: translateX(0);
}

#Menu .tab-content .s-card .text .card-item p {
    transition-delay: .5s;
}

#Menu .s-card .card-item {
    display: flex;
    column-gap: 40px;
}

#Menu .s-card .card-item .rate i {
    font-size: 10px;
    color: var(--bs-yellow);
}

#Menu .s-card .card-item .rate {
    position: relative;
}

#Menu .s-card .card-item .rate i {
    position: absolute;
    top: 0;
    left: 0;
}

#Menu .s-card .card-item .rate i:not(:first-child) {
    opacity: 0;
}

#Menu .tab-content .show .s-card .card-item .rate i:not(:first-child) {
    transition-duration: 1s;
}

#Menu .tab-content .show .s-card .card-item .rate i:nth-of-type(2) {
    transform: translateX(150%);
    opacity: 1;
    transition-delay: 1.5s;
}

#Menu .tab-content .show .s-card .card-item .rate i:nth-of-type(3) {
    transform: translateX(300%);
    opacity: 1;
    transition-delay: 2s;

}

#Menu .tab-content .show .s-card .card-item .rate i:nth-of-type(4) {
    transform: translateX(450%);
    opacity: 1;
    transition-delay: 2.5s;

}

#Menu .tab-content .show .s-card .card-item .rate i:nth-of-type(5) {
    transform: translateX(600%);
    opacity: 1;
    transition-delay: 3s;

}

#Menu .s-card .card-item p:nth-of-type(1) {
    color: #fff;
}

#Menu .s-card .card-item p:nth-of-type(2) {
    color: #bfc0c0;
}

#Chefs .chef-img img {
    border-radius: 15px;
    transition-duration: .5s;
    display: block;
    margin: auto;
}

#Chefs .chef-img:hover img {
    transform: skewY(5deg);
}

#Chefs .text {
    color: #fff;
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    width: 90%;
    margin: auto;
    border-radius: 15px;
    padding: 10px 20px;
    transform: translateY(-50%);
    transition-duration: .5s;
}

#Chefs .boxhover .chef-img~.text,
#Chefs .box:hover .text {
    transform: translateY(-100%);
    background-image: none;
    background-color: var(--bs-yellow);
    color: #fff;
}

#Chefs .text p {
    color: var(--bs-yellow);
    font-size: 25px;
    margin-bottom: 5px;
    transition-duration: .5s;
}

#Chefs.box:hover .chef-img~.text p,
#Chefs .box:hover .text p {
    color: #fff;
}

#Order {
    background-image: url("../dine-out_images/bg_wood.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Order .group {
    background-image: url("../dine-out_images/chef-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    background-color: #333;
    width: 400px;
    margin: auto;
    padding-block: 30px;
    border-radius: 10px;
}

#Order .form-group:nth-of-type(1), 
#Order .form-group:nth-of-type(2),
#Order .form-group:nth-of-type(5) {
    background-color: #fff;
    padding-inline: 10px;
    border-radius: 5px;
}


#Order form {
    /* background-color: #09c; */
    width: 75%;
    margin: auto;
}

#Order .form-group i {
    position: relative;
    top: 8px;
}


.form-control:focus{
    box-shadow: none;
}

textarea {
    resize: none;
}

#Order img.delivery {
    animation-name: delivery; 
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-block: 10px;
}

footer p span {
    letter-spacing: 1.5px;
    font-weight: bold;
}